.report-form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .report-form input,
  .report-form select,
  .report-form button {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .report-form button {
    cursor: pointer;
  }
  
  
  h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  